.principal{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "menu contenido";
    background-color: white;
    overflow: auto;
    grid-gap: 0.8mm;
}
.menu{
    grid-area: menu;
    padding: 10px;
    height: 96.7vh;
    align-self: center;
    border-right:  5px solid #404040;
    overflow-y: auto;
    background-color: #E6E6E6;
}
.complemento {
    grid-area: contenido;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}
.menu li{
    list-style: none;
    margin-top: 20px;
    margin-left: 5px;
}
.menu a{
    text-decoration: none;
    color:#404040;
    padding: 5px;
    display: block;
}
.menu li a:hover,.subtemaPadre:hover{
    background-color: #BFBFBF;
    cursor: pointer;
}

.visor{
    width: 100%;
    height: 100%;
}
.subtemaPadre{
    display: block;
    padding: 5px;
    text-decoration:underline;
}
.subtemaPadre.active {
    font-size: 16px;
    color: white;
    padding: 5px;
    background-color: #404040;
    text-decoration:none;
}
.active:hover{
    background-color: #404040;
}
.sublist{
    display: none;
}
.sublist.ver{
    display:block;
    background-color: #E6E6E6;
    color:#fff;
    height: max-content;
    text-decoration:none;
}
.ver > li {
    display: block;
    color: white;
    background: #E6E6E6;
    text-decoration:none;
}
