body {
    font-family: Arial;
    background-color: #BFBFBF;
    margin: auto;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    align-items: center;
}
.logo{
    grid-column: 1 / 3;
}
.searchd{
    grid-column: 4 /7 ;
}
.search{
    width: 100%;
}
.temas{
    width: 50%;
}
.container {
    display: grid;
    /* grid-template-columns:;-- asi se asignan columnas en grid*/
    grid-template-columns: repeat(3,minmax(200px,300px));
    /*grid-template-rows:;-- asi se asignan filas en grid */
    grid-template-rows: repeat(7,1fr);
    /* grid-template: filas/columnas; -- asi se asignan ambas dimenciones de grid*/
    /*fraciones -fr- nueva medida usada en grid*/
    /*repeat, es una funcion de grid*/
    /*minmax, es otra funcioon, que se puede usar dentro de repeat o para definir el tamaño estatico de una fila o columna de grid*/
    /* grid-gap: filas  columnas; */
    grid-gap: 10px;
    height: 100vh;
    /*grit template areas*/
    /* las areas se definen por filas entre " " por cada fila*/
    /*alineacion de items*/
    /*justify-items: start end center stretch ; alineacion horizontal*/
     /*align-items:start end center stretch ;alineacion vertical*/
    justify-content: space-evenly;
}
.logos{
    width:  60px;
    height: 60px;
}
.tarjeta{
    background-color: #E6E6E6;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5PX;
    color: #404040;
    height: 400px;
    overflow-y: auto;
    text-align: center;
}
.tarjeta:hover{
    background-color: #808080;
    padding: 10px;
    border: 2px solid grey;
    color: #FFFFFF;
    cursor: pointer;
}
.colapse {
    cursor: pointer;
    padding: 5px;
    width: 80%;
    font-size: 16px;
    transition: .3s;
    background-color: #585353;
    color: white;
    border-radius: 10px;
}

.colapse:hover {
    border-color: black;
    background-color: #808080;
}

.colapse.active {
    background-color: #E6E6E6;
    color: #404040;
    border-color: #606060;
}

.ltbuttom {
    width: 40%;
    border-radius: 10px;
    background-color: #585353;
    color: white;
}

.ltbuttom:hover {
    border-color: black;
    background-color: #808080;
}

.ltbuttom.active {
    background-color: #E6E6E6;
    color: #404040;
    border-color: #606060;
}

.content {
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition: 1s;
}

.content.ver {
    margin: 10px;
    opacity: 1;
    max-height: max-content;
    max-width: 100%;
    transition: ease-in-out;
    padding: 10px;
    transition: 1s;
    background: #E6E6E6;
    border: 3px solid black;
} 
table{
    width: 100%;
    border-collapse: collapse;
    font-size: medium;
}
th{
    background-color: #404040 ;
    color: cornsilk;
}
th,td{
    border: 2px solid black;
    padding: 5px;
}
tr:nth-child(even){
    background-color: #BFBFBF;
}
.cool {
    font-size: xx-large;
    border: 3px solid rgba(88, 101, 226, 0.781);
    color: black;
    background-color: white;
    text-align: center;
    display: none;
}
.cool.ver {
    margin: 10px;
    opacity: 1;
    max-height: max-content;
    max-width: 100%;
    transition: ease-in-out;
    padding: 10opx;
    transition: 1s;
    background: #E6E6E6;
    border:3px solid rgba(88, 101, 226, 0.781);
} 
.title {
    text-align: center;
    font-size: xx-large;
    border: 7px solid rgba(88, 101, 226, 0.781);
    color: black;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
#id{
    background-color: lightgray; 
    font-size: larger;
    border: 2px solid blue;
}